/**********************css重置*************************/

body {
	font: "微软雅黑","Arial Narrow",HELVETICA;margin: 0 auto;width:auto;height:100%; overflow-x:auto;
	
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-size:100%;
}

img {
	border:none;
	}

a {
	text-decoration:none;
	outline:none;
    cursor:pointer;
	
}
/*em {
	font-weight:normal;
	
}*/
p {
	word-wrap:break-word;
}

body {
	background:#fff;
}
.mar_1200{
	width:1200px;
	margin:0 auto; padding:0;
	
}
.f_l{
	float:left;
}
.f_r{
	float:right;
}


/********************导航*********************/
.nav_box{
	height:54px;
	line-height:54px;
	background:#393f52;
	color:#fff;
	border-bottom:0px solid #309bd1;
	background-color:#393f52;min-width:1200px;
	
}
.nav_box ul{
	float:left;  padding:0px; margin:0px;
}
.nav_box li{
	float: left;
	width: 118px;
	text-align: center;
	margin-right: 1px;
	font-size: 16px;
}
.nav_box ul li a{
	display:block;
	cursor:pointer;
	position:relative; color:#fff;
	z-index:100;
}
.nav_box ul li:hover{
	background:#309bd1;
	-webkit-transition: all 0.6s linear 0.1s;
	-moz-transition: all 0.6s linear 0.1s;
	-ms-transition: all 0.6s linear 0.1s;
	-o-transition: all 0.6s linear 0.1s;
	transition: all 0.6s linear 0.1s;
}
.nav_box ul li.cur_li{
	background:#309bd1;
}
.nav_box ul li{
	position:relative;
	overflow:hidden;
}
.nav_box ol{
	float:right;
}
.nav_box_new{
	width:120px;
	height:34px;
	border-radius:4px;
	margin-top:10px;
	line-height:32px;
	vertical-align:middle;
	background:url(../images/nav_vip_li.png) repeat-x left bottom; float:right; text-align:center; color:#fff; position:relative;
}
.nav_box_new img{ vertical-align:text-bottom;}
.nav_box_new a{ color:#fff; font-size:14px; width:120px; height:34px; display:block;}
.nav_box ol li i{
    height: 24px;
    width: 24px;
    display: inline-block;
	vertical-align:middle;
	background:url(../images/nav_vip_a.png) no-repeat center 0px;
}
.nav_box li:hover {
	background-color: #000;
}
/*搜索*/
.mingri_book{
	line-height:68px;
	font-size:14px;
	color:#808080;
	
}
.mingri_book a{ color:#999;}
.mingri_book a:hover{ color:#666; text-decoration:underline;}
.mingri_book a i{
    height: 36px;
    width: 36px;
    display: inline-block;
	vertical-align:middle;
	background:url(../images/course_03.png) no-repeat center 5px;
}
.mingri_book .a_download i{
	background:url(../images/course_04.png) no-repeat center 5px;
}
.search_box{
	width:338px;
	height:45px;
	line-height:48px;
   margin-left:38px;
	border:1px solid #dddddd; float:left;margin-top:12px; position:relative;}
.search_box_img{width:auto; position:absolute; right:0px; top:0px; background-color:#fff; height:45px; border-left:1px solid #ddd;}
.search_box_img:hover{ background-color:#f2f2f2;}
.search_box_img a:active{background:#f2f2f2;}